@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

h2,h5, .header-name {
    font-family: 'Merriweather', serif;
}

a {color: black}
.d-none-sm {display: none;}

/* HEADER & ABOUT */
header {
    height: 100%;
    min-height: 300px; 
    position: relative; 
}
header::after{
    content:'';
    z-index: -1; 
    position: absolute;
    top: 0;
    left:0;
    height: 600px; 
    width: 100%; 
    background: #0891B2;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    transform: skewY(-10deg) translateY(-60%);
}

.header-image-container {
    margin: 1rem;
    position: relative;  
    aspect-ratio: 1; 
    width: 300px; 
    margin-inline: auto;
}

.header-image-container img {
    position: relative;
    height: 100%; 
    width: 100%; 
    object-fit: cover;  
    box-shadow: 3px 3px 9px 4px rgba(0,0,0,0.25);  
}

.header-name {
    position: absolute;
    bottom: 0; 
    left: 10px; 
    font-size: 3rem; 
    color: white; 
    text-shadow: 2px 2px 5px rgba(0,0,0,0.25);
}

.about-me {
    width: 80vw; 
    margin-inline: auto; 
    position: relative;
}

.about-me h2 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
}

.about-me .contact-links {
    display: flex; 
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    gap: 1rem;
}

/* END OF HEADER & ABOUT */


/* Projects */
.my-work-container {
    display: grid; 
    align-items: center;
    justify-content: center;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(auto, 400px));
    grid-template-rows: min-content auto;
    padding: 20px;
}

.my-work-container h2 {
    font-size: 3em;
    grid-row: 1;
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: -1rem;
    padding-top: 1.5rem;
}

/*start of project card */
.project-card {
    display: grid; 
    gap: 0.5rem;
    grid-template-columns: 1fr; 
    grid-template-rows: 2fr 2rem auto;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);

}

.project-card img {
    background: grey; 
    width: 100%; 
    aspect-ratio: 1920/1080;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.project-card:nth-child(n) img {
    background-color: lightgreen;
}
.project-card:nth-child(2n) img {
    background-color: lightcoral;
}

.project-card:nth-child(3n) img {
    background-color: lightblue;
}

.project-head, .project-body {
    margin-inline: 1rem;
}
.project-body {
    margin-bottom: 1rem;
}

.project-head {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.project-head h5 {
    font-size: 1.5rem;
}

.project-links {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 1rem; 
}

.project-body {
    padding-top: 0.25rem;
}
/*end of project card */


/* Contact Section */

footer {
    background: #0891B2;
    color: #FFF;
    width: 100%; 

}
footer a {color: white}

.footer-content h2 {
    padding: 1rem;
    text-align: center;
}

.footer-content .contact-details {
    display: grid; 
    grid-template-columns: 1fr; 
    width: 60%;
    margin-inline: auto; 
    gap: 1rem;
    padding-bottom: 2rem;
}

.contact-details .contact-links {
    display: flex; 
    align-items: center;
    gap: 1rem;
    justify-self: center;
}

.footer-content img {
    width: 100%; 

}

/* End of Contact Section */



@media screen and (min-width: 768px) {

    main {
        width: min(100%, 78rem);
        margin-inline: auto;
    }

    .d-none-sm {display: inline-block} 
    .header-image-container {
        float:left;
        z-index: 20;
        margin-top: -100px;
        margin-left: 60px; 
        margin-right: 1rem; 
    }
    .header-name {
        width: 150%; 
        top: 15px; 
        left: 80%; 
     }

    header::after{
        transform: skewY(-10deg) translateY(-70%);
    }

    .header-image-container img {float: left}
    .about-me {
        background: white; 
        position: relative;
        margin-top: 150px; 
        padding: 1.5rem;
        box-shadow: 3px 3px 9px 4px rgba(0,0,0,0.25);
    }
    .about-me .contact-links {display: none}



    .my-work-container { 
        justify-content: flex-start;
        grid-template-columns: repeat(auto-fill, minmax(min(100%,20rem),1fr));
    }

    .my-work-container h2 {
        text-align: start;
    }

    .footer-content {
        padding: 1rem 2rem;
        display: grid; 
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .footer-content h2 {
        text-align: left;
        padding-left: 0;
    }

    .footer-content .contact-details {
        width: 100%;
    }
    footer a {color: black}

    .contact-details .contact-links {
        grid-row: 4; 
        justify-self: start;
    }
    .contact-details  i {
        margin-right: 0.5rem;
    }

    .footer-content img {
        width:100%;
        align-self: center;
        height: auto; 
        grid-row: 1 / 3;
        grid-column: 2;
    }
}



/* @media screen and (min-width: 1024px) { */
@media screen and (min-width: 1440px) {
    main {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    header::after{
        height: 800px; 
        transform: skewY(-10deg) translateY(-30%);
    }
    .header-image-container {
        float:none;
        z-index: 20;
        margin: 0;
        width: 30rem;
    }
    .header-name { 
        bottom: 0; 
        top: auto; 
        left: 1rem;
        width: 100%; 
    }
    

    header {
        display: flex; 
        align-items: center;
        justify-content: center;
        padding-top: 5rem;
    }

    .about-me {
        background: white; 
        position: relative;
        padding: 1.5rem;
        margin: 0;
        width: min(100%,45rem);
        box-shadow: 3px 3px 9px 4px rgba(0,0,0,0.25);
    }
    .about-me .contact-links {display: flex; float: right}
    .about-me h2 {text-align: left;}
    

    .footer-content {
        width: min(100%, 78rem);
        margin-inline: auto; 
        grid-template-columns: 4fr 6fr;
        grid-template-rows: 3rem auto;
    }

    .footer-content img {
        max-height: 300px; 
        width: auto; 
        justify-self: end; 
    }
}