* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



.my-work-container {
    display: grid; 
    align-items: center;
    justify-content: center;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-template-rows: min-content auto;
}

.my-work-container h2 {
    font-size: 3rem;
    grid-row: 1;
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: -2rem;
}

/*start of project card */
.project-card {
    display: grid; 
    gap: 0.5rem;
    grid-template-columns: 1fr; 
    grid-template-rows: 2fr 2rem auto;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);

}

.project-card img {
    background: grey; 
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.project-card:nth-child(n) img {
    background-color: lightgreen;
}
.project-card:nth-child(2n) img {
    background-color: lightcoral;
}

.project-card:nth-child(3n) img {
    background-color: lightblue;
}

.project-head, .project-body {
    padding: 1rem;
}

.project-head {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.project-head h5 {
    font-size: 1.5rem;
}

.project-body {
    padding-top: 0.25rem;
}
/*end of project card */




@media screen and (min-width: 768px) {

    main {
        width: 80vw; 
        margin-inline: auto;
    }

    

    .my-work-container { 
        justify-content: flex-start;
        grid-template-columns: repeat(2, minmax(250px,1fr));
    }

    .my-work-container h2 {
        text-align: start;
    }
}



@media screen and (min-width: 1024px) {
    
    .my-work-container {
        grid-template-columns: repeat(3, minmax(300px,1fr));
    }
}